html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s, color 0.5s;
}

body.day {
  background-color: #eff1f5;
  color: #4c4f69;
}

body.night {
  background-color: #24273a;
  color: #cad3f5;
}
